[project]
	description = Resurrection Remix Android Manifest
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Altan KRK (westcripp)
[access "refs/for/refs/*"]
	read = group user/Altan KRK (westcripp)
	push = group user/Altan KRK (westcripp)
	label-Code-Review = -2..+2 group user/Altan KRK (westcripp)
	label-Verified = -1..+1 group user/Altan KRK (westcripp)
	rebase = group user/Altan KRK (westcripp)
	removeReviewer = group user/Altan KRK (westcripp)
	submit = group user/Altan KRK (westcripp)
[access "refs/heads/*"]
	read = group user/Altan KRK (westcripp)
	create = group user/Altan KRK (westcripp)
	push = +force group user/Altan KRK (westcripp)
	pushMerge = group user/Altan KRK (westcripp)
[access "refs/tags/*"]
	push = +force group user/Altan KRK (westcripp)
	pushTag = group user/Altan KRK (westcripp)
	pushSignedTag = group user/Altan KRK (westcripp)
