service choice_fn /sbin/choice_fn
    oneshot

service power_test /sbin/power_test
    disabled
    oneshot

service offmode_charging /sbin/offmode_charging
    disabled
    oneshot

service detect_key /sbin/detect_key
    disabled
    oneshot

service htcbatt /sbin/htcbatt
    oneshot
