# mount point	fstype    device    	[device2]

/boot       mtd         boot
/cache      yaffs2      cache
/data       yaffs2      userdata
/misc       mtd         misc
/recovery   mtd         recovery
/sdcard     vfat        /dev/block/mmcblk0p1        /dev/block/mmcblk0
/system     yaffs2      system
/sd-ext     ext4        /dev/block/mmcblk0p2
